*{
    box-sizing: border-box;
    font-family: Arial;
    }
body{
  background-color:#ececec;

}
.body2{
  background-color: #dddddd;
  
}
    .PirovLogo2{
        width: 595px;
        height: 220px;
        display: block;
        margin: auto;
       }
    
      ul {
        list-style-type: none;
        margin: 0;
      /* אם תוכן האלמנט גדול מהמקום שצוין בשבילו */  overflow: hidden; /* שיהיה בלתי נראה */
        font-size: 20px;
        padding-right:  370px;
        background-color:#332d2d;
        
        }
      
        li {
        float: right;
       
        }
        
      li a {
        color: white;
        text-align: center;
        padding: 14px;
        display: block;
        }
        li a:hover {
        background-color: black;
        text-decoration: none;
        }
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 160px;
        border: 1px solid black;
        right: 523px;
        font-size: 20px;
        z-index: 1;
        }
        .dropdown-content a {
        color: black;
        padding-right: 12px;
        text-align: right;
        display: block;
       }
        .dropdown:hover .dropdown-content {
          display: block;
        }
        .dropdown-content a:hover {
         color: white;
        }
 